In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [52]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lilly\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lilly\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [53]:
data = pd.read_csv('Elon_musk.csv',encoding="latin-1")

In [54]:
#Number of Words in single tweet
data['wordCount'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','wordCount']].head()

                                                Text  wordCount
0                             @kunalb11 Im an alien          4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         13
2                @joerogan @Spotify Great interview!          4
3                    @gtera27 Doge is underestimated          4
4  @teslacn Congratulations Tesla China for amazi...         17

In [55]:
#Number of character in single tweet
data['characterCount'] = data['Text'].str.len()
data[['Text','characterCount']].head()

                                                Text  characterCount
0                             @kunalb11 Im an alien              22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...              82
2                @joerogan @Spotify Great interview!              35
3                    @gtera27 Doge is underestimated              31
4  @teslacn Congratulations Tesla China for amazi...             104

In [56]:
#no of special character
data['Hastags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','Hastags']].head()

                                                Text  Hastags
0                             @kunalb11 Im an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1

In [57]:
#no of stopwords
stop = stopwords.words('english')

data['Stopwords'] = data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Text','Stopwords']].head()

                                                Text  Stopwords
0                             @kunalb11 Im an alien          1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                @joerogan @Spotify Great interview!          0
3                    @gtera27 Doge is underestimated          1
4  @teslacn Congratulations Tesla China for amazi...          5

In [58]:
#no of numerics
data['Numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','Numerics']].head()

                                                Text  Numerics
0                             @kunalb11 Im an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0

In [59]:
#no of upper case
data['Upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','Upper']].head()

                                                Text  Upper
0                             @kunalb11 Im an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0

In [60]:
#no of lower case
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['Text'].head()

0                               @kunalb11 im an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

In [61]:
#avg word lengh
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head()

                                                Text  avg_word
0                             @kunalb11 im an alien  4.750000
1  @id_aa_carmack ray tracing on cyberpunk with h...  5.384615
2                @joerogan @spotify great interview!  8.000000
3                    @gtera27 doge is underestimated  7.000000
4  @teslacn congratulations tesla china for amazi...  5.176471

In [48]:
#removing Punctuation
data['Text'] = data['Text'].str.replace('[^\w\s]','')
data['Text'].head()

C:\Users\lilly\AppData\Local\Temp\ipykernel_19012\1947507549.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Text'] = data['Text'].str.replace('[^\w\s]','')

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

In [62]:
## Removal of Stop Words
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                  @kunalb11 im alien
1    @id_aa_carmack ray tracing cyberpunk hdr next-...
2                  @joerogan @spotify great interview!
3                         @gtera27 doge underestimated
4    @teslacn congratulations tesla china amazing e...
Name: Text, dtype: object

In [18]:
#common word removal
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [19]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [63]:
#rare words removal
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

obvious,                   1
prevalence,                1
explanation                1
moreover,                  1
https://t.co/gmlvewwxdp    1
prevalence                 1
flu                        1
decline                    1
dramatic                   1
28                         1
dtype: int64

In [21]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [64]:
#spelling correction
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                  @kunalb11 im alien
1    @id_aa_carmack ray tracing cyberpunk her next-...
2                  @joerogan @specify great interview!
3                         @gtera27 done underestimated
4    @teslacn congratulations tell china amazing ex...
Name: Text, dtype: object

In [23]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lilly\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
TextBlob(data['Text'][1]).words

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

In [25]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lilly\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [26]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

In [29]:
from textblob import Word

In [31]:
data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

In [32]:
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

In [33]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1            ray   1
2        tracing   1
3      cyberpunk   1
4            hdr   1
5      nextlevel   1
6          tried   1

In [34]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1            ray   1  5.035453
2        tracing   1  7.600402
3      cyberpunk   1  5.115496
4            hdr   1  6.907255
5      nextlevel   1  6.907255
6          tried   1  5.808643

In [35]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1            ray   1  5.035453  5.035453
2        tracing   1  7.600402  7.600402
3      cyberpunk   1  5.115496  5.115496
4            hdr   1  6.907255  6.907255
5      nextlevel   1  6.907255  6.907255
6          tried   1  5.808643  5.808643

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7374 stored elements in Compressed Sparse Row format>

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(data['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 8020 stored elements in Compressed Sparse Row format>

In [38]:
#sentimentAnalysis
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [39]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']].head()

                                                Text  sentiment
0                                  kunalb11 im alien      -0.25
1  id_aa_carmack ray tracing cyberpunk hdr nextle...       0.00
2                         joerogan spotify interview       0.00
3                        gtera27 doge underestimated       0.00
4  teslacn congratulation china amazing execution...       0.20