# #REJECTION CRITERIA:
NULL HYPOTHEIS:THERE IS NO SIGNIFICANCE DIFFERENCE
ALTERNATE HYPOTHESIS:THERE IS A SIGNIFICANCE DIFFERENCE

#HYPOTHESIS TESTING:DIAMETER IN CUTLET PROBLEM:
we use two sample t test since we know that the sample size is<30 and we compare 2 groups.

In [2]:
import pandas as hp
import numpy as np
from scipy import stats

In [3]:
ha=hp.read_csv("Cutlets.csv")

In [3]:
ha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [8]:
ha.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

In [9]:
ha.skew()

Unit A   -0.123684
Unit B   -0.379945
dtype: float64

In [10]:
ha.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [62]:
A=hp.Series(ha.iloc[:,0])
A

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [65]:
B =(ha.iloc[:,1])
B

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [67]:
t_stat=stats.ttest_ind(A,B)
print("t statistic value is:",t_stat)

t statistic value is: Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [17]:
#solution:
#as we know that in test if p value >alpha(0.05).we accept our null hypothesis
#Therefore there is no significance difference in diameter of cutlets between unit A&B

In [ ]:
##2

Hypothesis testing:to determine whether there is difference in average TAT among the different laboratories/n
we use anova one way since we compare 2 or more means for only one deciding factor.

In [5]:
df=hp.read_csv("LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [18]:
df.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [8]:
a=(df.iloc[:,0])
a

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [9]:
b=(df.iloc[:,1])
b

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [10]:
c=(df.iloc[:,2])
c

0      176.70
1      198.45
2      201.23
3      199.61
4      204.63
        ...
115    193.80
116    215.25
117    203.99
118    194.52
119    221.49
Name: Laboratory 3, Length: 120, dtype: float64

In [26]:
d=(df.iloc[:,3])
d

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

In [14]:
df.shape

(120, 4)

In [16]:
f_stat=stats.f_oneway(a,b,c,d)
print("the f statiscal value is:",f_stat)

the f statiscal value is: F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [19]:
#3

Hypothesis testing:checking whether male-female buyer rations are similar across regions.

In [21]:
df1=hp.read_csv("BuyerRatio.csv")

In [22]:
df1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [28]:
df1_reset=df1.iloc[:,1:6]
df1_reset

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [30]:
value=stats.chi2_contingency(df1_reset)
value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

~here p value is 0.66 which is greater than alpha value 0.05 , so we accept our null hypothesis/n
which means all proportions are equal.

In [31]:
#4

Hypothesis testing: check whether the defective % varies by centre

In [35]:
df2=hp.read_csv("Costomer+OrderForm.csv")
df2

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [51]:
print(df2['Phillippines'].value_counts(),df2['Indonesia'].value_counts(),df2['Malta'].value_counts(),df2['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [52]:
Data=([271,267,269,280],[29,33,31,20])

In [54]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [59]:
print("stat value is",stat ,"\n","p_value is:",p,"\n","DOF:",dof,"\n","expected value is:",expected)

stat value is 3.858960685820355
 p_value is: 0.2771020991233135
 DOF: 3
 expected value is: [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

ANSWER # here,pvalue is greater than alpha value .so,we can accept our null hypothesis./n
which means the variables are not related .

In [1]:
import os
os.getcwdb()

b'C:\\Users\\lilly'